  <div id="categories-wrapper">
    <div class="main-container">

      <div id="categories-grid">

        <div id="categories">

          <div class="category category-trigger -active">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_1.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_1_active.svg" alt=""></div>
            </div>
            <div class="label">Гидроциклы</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_2.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_2_active.svg" alt=""></div>
            </div>
            <div class="label">Пляжи</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_3.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_3_active.svg" alt=""></div>
            </div>
            <div class="label">Турбазы</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_4.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_4_active.svg" alt=""></div>
            </div>
            <div class="label">Яхт клубы</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_5.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_5_active.svg" alt=""></div>
            </div>
            <div class="label">Катера</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_6.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_6_active.svg" alt=""></div>
            </div>
            <div class="label">Парусные яхты</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_7.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_7_active.svg" alt=""></div>
            </div>
            <div class="label">Плавдома</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_8.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_8_active.svg" alt=""></div>
            </div>
            <div class="label">Супер яхты</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_9.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_9_active.svg" alt=""></div>
            </div>
            <div class="label">Услуги</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_10.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_10_active.svg" alt=""></div>
            </div>
            <div class="label">Запчасти</div>
          </div>

          <div class="category category-trigger">
            <div class="icon">
              <div class="calm"><img src="/images/cat/icon_11.svg" alt=""></div>
              <div class="active"><img src="/images/cat/icon_11_active.svg" alt=""></div>
            </div>
            <div class="label">Для гостей</div>
          </div>

        </div>

        <div id="next-container">
          <div class="icon" id="next"></div>
        </div>

      </div>

      <div id="filters-container">
        <div id="filters-trigger"><div class="icon"></div><span>Фильтры</span></div>
        <div id="view-switcher">
          <div class="variant -active -grid"><span>Список</span></div>
          <div class="variant -map"><span>Карта</span></div>
        </div>
      </div>

    </div>
  </div>


  <div id="search-wrapper">


    <div id="catalog">
      <div class="main-container">
        <div id="catalog-grid">

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/1.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/3.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/2.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/1.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/1.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/3.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/2.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/1.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/1.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/3.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/2.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>

          <div class="col">
            <a href="/single" class="catalog-item">
              <div class="thumb" style="background-image: url(/images/1.jpg)">
                <div class="type"><span>Аренда</span></div>
                <div class="rating"><span>5.0</span><div class="star"></div></div>
                <div class="images-slider">
                  <div class="triggers">
                    <div class="trigger" data-image="1"></div>
                    <div class="trigger" data-image="2"></div>
                    <div class="trigger" data-image="3"></div>
                  </div>
                  <div class="dots">
                    <div class="dot -active" data-image="1"></div>
                    <div class="dot" data-image="2"></div>
                    <div class="dot" data-image="3"></div>
                  </div>
                  <div class="images">
                    <div class="image" style="background-image: url(/images/1.jpg)" data-image="1"></div>
                    <div class="image" style="background-image: url(/images/2.jpg)" data-image="2"></div>
                    <div class="image" style="background-image: url(/images/3.jpg)" data-image="3"></div>
                  </div>
                </div>
              </div>
              <div class="title">Yamaha GP1800R SVHO</div>
              <div class="price">1400₽ / сутки</div>
            </a>
          </div>


        </div>
      </div>
    </div>

  </div>