<div id="page-wrapper">

    <div id="single-wrapper">
      <div class="main-container">

        <div class="single-top">

          <div id="single-header">
            <div class="info">
              <div class="title">Аренда моторной яхты в Сочи</div>
              <div class="address">Краснодарский край, г Сочи, ул Войкова, д 1</div>
            </div>
            <div class="buttons">
              <div class="button"><span>Сохранить</span><div class="icon -save"></div></div>
              <div class="button"><span>Поделиться</span><div class="icon -share"></div></div>
            </div>
          </div>

          <div id="single-gallery">
            <div class="half">
              <div class="image -square" style="background-image: url(/images/single/1.jpg)"></div>
            </div>
            <div class="half">
              <div class="row">
                <div class="col">
                  <div class="image -square" style="background-image: url(/images/single/2.jpg)"></div>
                </div>
                <div class="col">
                  <div class="image -square" style="background-image: url(/images/single/3.jpg)"></div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <div class="image -square" style="background-image: url(/images/single/4.jpg)"></div>
                </div>
                <div class="col">
                  <div class="image -square" style="background-image: url(/images/single/5.jpg)"></div>
                </div>
              </div>
            </div>
          </div>

          <div id="mobile-gallery">
            <div class="image -square" style="background-image: url(/images/single/1.jpg)"></div>
            <div class="image -square" style="background-image: url(/images/single/2.jpg)"></div>
            <div class="image -square" style="background-image: url(/images/single/3.jpg)"></div>
            <div class="image -square" style="background-image: url(/images/single/4.jpg)"></div>
            <div class="image -square" style="background-image: url(/images/single/5.jpg)"></div>
          </div>

        </div>


        <div id="single-content">


          <div id="floating-box">
            <div class="section-header">Аренда моторной яхты в Сочи</div>
            <div class="section-subheader">Краснодарский край, г Сочи, ул Войкова, д 1</div>
            <div class="info">
              <div class="price">
                <span>8 000 ₽</span> <i>/ сутки</i>
              </div>
              <div class="rating"><span>5.0</span><div class="star"></div></div>
              <div class="count">5 озывов</div>
            </div>
            <div class="button-container">
              <div class="button">Забронировать</div>
            </div>
          </div>


          <div id="single-caption" class="single-content">
            <div class="section-header">Описание</div>
            <div class="caption">
              <p>Яхта "HOOCH" 34 Cruiser Starfisher была разработана легендарной итальянской студией Garroni & Musio-Sale. На этом грамотно спланированном судне есть все, что может понадобиться во время отдыха в море.</p>
              <p>Для гостей предусмотрены 2 каюты и просторная, светлая кают-компания с красивым кожаным диваном. Любители музыки оценят акустическую систему.</p>
              <p>На второй палубе (флайбридже) расположено рулевое управление и белоснежный диван. Для удобства гостей имеется санузел с туалетом и душем. У нас можно многое: окунуться в чистейшее море вдали от берега, отдохнуть и позагорать на носу, отпраздновать день рождения или провести шикарную фотосессию. При этом вы будете уверены, что выбрали наиболее оптимальный вариант яхты по соотношению цена/качество.Выбирайте HOOCH и переходите к бронированию, пока этого не сделал кто-нибудь другой. До встречи в порту Сочи!</p>
            </div>
          </div>
  
          <div id="single-benefits" class="single-content">
            <div class="section-header">Какие удобства вас ждут</div>
            <div id="benefits-icons">
              <div class="benefit -frige"><span>Холодильник</span></div>
              <div class="benefit -tv"><span>Телевизор</span></div>
              <div class="benefit -cond"><span>Кондиционер</span></div>
              <div class="benefit -kitchen"><span>Кухня</span></div>
              <div class="benefit -shower"><span>Душ</span></div>
              <div class="benefit -plate"><span>Плита</span></div>
            </div>
          </div>
  
          <div id="single-characteristics" class="single-content">
            <div class="section-header">Характеристики</div>
            <div id="characteristics-grid">
              <div class="col">
                <div class="item">
                  <div class="label">Категория</div>
                  <div class="value">Парусные яхты</div>
                </div>
                <div class="item">
                  <div class="label">Длина</div>
                  <div class="value">11.8</div>
                </div>
                <div class="item">
                  <div class="label">Ширина</div>
                  <div class="value">3.8</div>
                </div>
              </div>
              <div class="col">
                <div class="item">
                  <div class="label">Холодильник</div>
                  <div class="value">есть</div>
                </div>
                <div class="item">
                  <div class="label">ТВ (количество)</div>
                  <div class="value">2</div>
                </div>
                <div class="item">
                  <div class="label">Количество кают</div>
                  <div class="value">3</div>
                </div>
              </div>
            </div>
          </div>
  
          <div id="single-reviews" class="single-content">
            <div class="section-header">
              <span>Отзывы</span>
              <div class="rating"><span>5.0</span><div class="star"></div></div>
              <div class="count">5 озывов</div>
            </div>
            <div id="reviews-grid">
  
              <div class="item">
                <div class="header">
                  <div class="thumb" style="background-image: url(/images/reviews/1.jpg)"></div>
                  <div class="info">
                    <div class="name">Василий</div>
                    <div class="date">май 2022</div>
                  </div>
                </div>
                <div class="rewiew">
                  <p>Для гостей предусмотрены 2 каюты и просторная, светлая кают-компания с красивым кожаным диваном. Любители музыки оценят акустическую систему.</p>
                </div>
              </div>
  
              <div class="item">
                <div class="header">
                  <div class="thumb" style="background-image: url(/images/reviews/2.jpg)"></div>
                  <div class="info">
                    <div class="name">Аня</div>
                    <div class="date">июнь 2022</div>
                  </div>
                </div>
                <div class="rewiew">
                  <p>На второй палубе (флайбридже) расположено рулевое управление и белоснежный диван</p>
                </div>
              </div>
  
              <div class="item">
                <div class="header">
                  <div class="thumb" style="background-image: url(/images/reviews/3.jpg)"></div>
                  <div class="info">
                    <div class="name">Соня</div>
                    <div class="date">май 2021</div>
                  </div>
                </div>
                <div class="rewiew">
                  <p>вы будете уверены, что выбрали наиболее оптимальный вариант яхты по соотношению цена/качество</p>
                </div>
              </div>
  
              <div class="item">
                <div class="header">
                  <div class="thumb" style="background-image: url(/images/reviews/4.jpg)"></div>
                  <div class="info">
                    <div class="name">Андрей</div>
                    <div class="date">сентябрь 2020</div>
                  </div>
                </div>
                <div class="rewiew">
                  <p>На этом грамотно спланированном судне есть все, что может понадобиться во время отдыха в море.</p>
                </div>
              </div>
  
  
            </div>
  
            <div class="all-reviews-link"><span>Показать все отзывы (5)</span></div>
          </div>
  
  
          <div id="single-map">
            <div class="section-header">Местоположение</div>
            <div class="section-subheader">Краснодарский край, г Сочи, ул Войкова, д 1</div>
            <div id="map">
              <iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8caa7ab10c589f854e29e1f5a980657c0e0fa7964a7b81b9ba052750d0415737&amp;source=constructor" width="100%" height="400" frameborder="0"></iframe>
            </div>
          </div>
  

        </div>

  

      </div>



    </div>



  </div>